# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/communal_payments

# Security
SECRET_KEY=your-secret-key-change-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Telegram Bot
BOT_TOKEN=8695299845:AAFqYNtNnDuZ5iMSITfnwBlGrT-5v--4t3I

# App
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=True
